* {
    margin: 0;
    padding: 0;
}

.container {
    min-width: 600px;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: lightgray;
    height: 80px;
    display: flex;
    justify-content: flex-end;
}

.btn-cart {
    height: 40px;
    width: 100px;
    border-radius: 10%;
    margin-top: 18px;
    margin-right: 20px;
    background-color: lightpink;
    color: white;
    font-size: 16px;
}

main {
    margin-top: 30px;
    background-color: ghostwhite;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.product-item {
    width: 250px;
    height: 350px;
    border: 1px solid gray;
    margin-bottom: 20px;
    border-radius: 10px;
}

.product-item h3 {
    text-align: center;
    font-style: italic;
    margin-bottom: 10px;
    font-size: 25px;
}

.product-item p {
    font-size: 25px;
}

.product-item button {
    margin-top: 240px;
    margin-left: 155px;
    width: 75px;
    height: 35px;
    background-color: lightpink;
    color: white;
    font-size: 17px;
}

